{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <p>
  A Little Playlist Maker - Version 1
  Creator and Designer: Adam Hennebry
  Company: Hennebry Web Design Inc
  Email: AdamHennebry@bing.com
  Contact No: 085635253456
  Address: 10 Washington Heights,
           The Bronx,
           New York City,
           New York,
           USA.
</p>
</section>