{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
  Welcome to Playlist 1
</h1>
<p>
  This small little App was created as part of a College course curriculum all data and information within the application is fictitious,
  The purpose of this app is to display numerous playlists to the user to interact with and view.
</p>
</section>